AI Engineering/N8N/Workflows/3 - HTTP,Webhook,AI.json
{
  "name": "3 - HTTP,Webhook,AI",
  "nodes": [
    {
      "parameters": {
        "url": "https://leftclick.ai/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        -128
      ],
      "id": "acbd806b-31c3-4336-ba81-180fed1e1c73",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "h1,h2,h3,h4,h5,h6,p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -80,
        -128
      ],
      "id": "8f321e4c-e8fb-4983-ae2b-35d57a13be92",
      "name": "HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You're a helpful,intelligent website scrapping assistant."
            },
            {
              "content": "Your task is to take as input a bunch of scraped website text and return as op JSON that follows this format:\n\n{\"summary\" : \"\", \"threeUniquePoints\":[],\"contactInfoIfAny\":[{}]}"
            },
            {
              "content": "=--\n\n{{ $json.text.join(\"\\n\") }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        128,
        -128
      ],
      "id": "ccc1459a-027c-4965-bef4-6f790d242ab5",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Mc8czOCt7Vm4lig4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the original output object\nconst original = $json[\"output\"][0];\n\n// Parse the JSON string inside the text field\nconst raw = original[\"content\"][0][\"text\"];\nconst parsed = JSON.parse(raw);\n\n// Merge original fields with parsed fields\nreturn [\n  {\n    ...original,   // keep id, type, status, role, etc.\n    ...parsed      // add subjectLine, icebreaker, elevatorPitch, callToAction, ps\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -128
      ],
      "id": "525f9088-78aa-49e9-a537-3d5b35a2d917",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "Foundational Nodes:\n\na) Nodes for doing things:\n- http req\n- webhooks\n- openai nodes\n\nb) Nodes that modify flow\n - If\n- Filter\n- Merge\n- Split into branches\n",
        "height": 352,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -512
      ],
      "typeVersion": 1,
      "id": "ff66274c-4f79-494e-8973-5c45eee7ba90",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        416
      ],
      "id": "d2247723-5a1b-4771-bb57-29a32c7cd036",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        624
      ],
      "id": "a5e95966-17f7-4c17-90f5-45f976e15f5d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mc8czOCt7Vm4lig4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "path": "0961430a-caae-4f2e-8a9f-b7d21b17eb7a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        80
      ],
      "id": "e1e79990-d143-4b5a-a3f7-0d20a9d5aa76",
      "name": "Webhook",
      "webhookId": "0961430a-caae-4f2e-8a9f-b7d21b17eb7a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        400
      ],
      "id": "2af95e89-465e-4b5d-9574-213f3eb8718f",
      "name": "When chat message received",
      "webhookId": "4b6b26e9-d5e4-4c62-a7df-912ed67c304e"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        240,
        624
      ],
      "id": "3309cf79-7ec5-4421-b6c5-2de6ac59908a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aadicodingvs@gmail.com",
          "mode": "list",
          "cachedResultName": "aadicodingvs@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"after\")}}",
        "timeMax": "={{ $fromAI(\"before\")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        624
      ],
      "id": "d2755133-1d99-4ef4-8a34-c98de3e95acc",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xUID2QxVP6ZhC5oy",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Code in JavaScript1": [
      {
        "json": {
          "id": "msg_01fd19f9f5635c73006a3c17165f1081949fd86a0841a5d149",
          "type": "message",
          "status": "completed",
          "content": [
            {
              "type": "output_text",
              "annotations": [],
              "logprobs": [],
              "text": "{\n  \"summary\": \"LeftClick is an AI growth partner specializing in building AI-driven lead generation, deal closing, and operational scaling systems for fast-moving B2B companies. Led by experienced founders with proven success across 20+ industries, they provide fixed-price, no-surprise engagements and teach AI integration through public content and workshops.\",\n  \"threeUniquePoints\": [\n    \"Built proprietary AI systems since 2019, before ChatGPT, generating over $10M in client revenue across 20+ industries.\",\n    \"Transparent fixed-price engagements with clear scopes, no hourly billing, and no scope creep, combined with weekly updates and working products.\",\n    \"A founder-led team with public track record, large AI communities (Maker School), and extensive experience delivering production-grade AI systems at scale.\"\n  ],\n  \"contactInfoIfAny\": [\n    {\n      \"freeGrowthMappingCall\": \"Book a free 30-minute growth mapping call to audit your funnel and identify AI opportunities\",\n      \"typicalProjectRange\": \"$10K-$50K per project, engagements typically start at $5K\",\n      \"websiteSectionsMentioned\": [\"Services\", \"Company\", \"Resources\", \"Connect\"]\n    }\n  ]\n}"
            }
          ],
          "role": "assistant",
          "summary": "LeftClick is an AI growth partner specializing in building AI-driven lead generation, deal closing, and operational scaling systems for fast-moving B2B companies. Led by experienced founders with proven success across 20+ industries, they provide fixed-price, no-surprise engagements and teach AI integration through public content and workshops.",
          "threeUniquePoints": [
            "Built proprietary AI systems since 2019, before ChatGPT, generating over $10M in client revenue across 20+ industries.",
            "Transparent fixed-price engagements with clear scopes, no hourly billing, and no scope creep, combined with weekly updates and working products.",
            "A founder-led team with public track record, large AI communities (Maker School), and extensive experience delivering production-grade AI systems at scale."
          ],
          "contactInfoIfAny": [
            {
              "freeGrowthMappingCall": "Book a free 30-minute growth mapping call to audit your funnel and identify AI opportunities",
              "typicalProjectRange": "$10K-$50K per project, engagements typically start at $5K",
              "websiteSectionsMentioned": [
                "Services",
                "Company",
                "Resources",
                "Connect"
              ]
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c639735b-f171-4f12-b8bc-56379ce3a682",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "151fe71471be055f5b72050f34c0d6fcd5a1c37768b0fd80c630721be48b466e"
  },
  "nodeGroups": [],
  "id": "b0ma4IqbKsqlmOnY",
  "tags": []
}